body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: #0e0b20;
    padding: 25px 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
    text-align: center;
    color: #e5e7eb;
    margin-bottom: 20px;
}

label {
    color: #cbd5f5;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;

    border: 1px solid #1e293b;
    background: #020617;
    color: #e5e7eb;
    outline: none;
}
button{
    margin-top:20px;
    width:100%;
    padding:10px;

    background-color:#007bff;
    color:whitesmoke;
    border:none;
    border-radius:4px;

    cursor:pointer;

}